@using _27_FrontToBackSqlConnection.Areas.AdminPanel.ViewModels;
@model List<ProductGetVM>
@{
    int count = 0;
}
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Slider Table</h4>
                <div class="table-responsive">
                    <a asp-action="create" type="button" class="btn btn-outline-success btn-fw">Create</a>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    №
                                </th>
                                <th>
                                    Image
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Price
                                </th>
                                <th>
                                    SKU
                                </th>
                                <th>
                                    Category
                                </th>
                                <th>
                                    Settings
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (ProductGetVM productGetVM in Model)
                            {
                                <tr>

                                    <td>
                                        <p>@(++count)</p>
                                    </td>
                                    <td>
                                        <img src="~/assets/images/website-images//@productGetVM.Image" />

                                    </td>
                                    <td>
                                        <p>@productGetVM.Name</p>
                                    </td>
                                    <td>
                                        <p>@productGetVM.Price</p>
                                    </td>
                                    <td>
                                        <p>@productGetVM.SKU</p>
                                    </td>
                                    <td>
                                        <p>@productGetVM.CategoryName</p>
                                    </td>
                                    <td>
                                        <a asp-action="update" asp-route-id="@productGetVM.Id" type="button" class="btn btn-outline-warning  btn-fw">Edit</a>
                                        <a asp-action="delete" asp-route-id="@productGetVM.Id" type="button" class="btn btn-outline-danger  btn-fw">Delete</a>
                                        <a asp-action="detail" asp-route-id="@productGetVM.Id" type="button" class="btn btn-outline-info  btn-fw">Detail</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>